@{
    ViewData["Title"] = "Create";
    Layout = "randomQuotes";
}







@*----------------------------------------------Random Quotes----------------------------------------------*@
<div class="form">
    <h2>Quote</h2>

    @*----------------------------------------------Quote Kutusu----------------------------------------------*@
    <div class="quotes">

        <div class="quotebox">
            <p class="quote">Quickness is the essence of the war.</p>
        </div>
        <div class="author">
            <span>~</span>
            <span class="name">Sun Tzu</span>
        </div>
    </div>



    @*----------------------------------------------Butonlar----------------------------------------------*@
    <div class="row buttons">
        <div class="col mt-2">
            <div class="features">



                @*----------------------------------------------Kopyala Tweetle----------------------------------------------*@
                <ul>
                    <li class="copy"><i class="fa-solid fa-copy"></i></li>
                    <li class="tweet"><i class="fa-brands fa-twitter"></i></li>
                </ul>




                @*----------------------------------------------Yeni Quote----------------------------------------------*@
                <div class="col mt-2 yeni">
                    <button class="button">New Quote</button>
                </div>
            </div>

        </div>
    </div>
</div>
